<script
src="https://code.jquery.com/jquery-3.3.1.js"
integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>



<!-- Scripts de las animaciones-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
  console.log ("Scrips cargados correctamente");
  AOS.init();
</script>

</body>
</html>