<nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
          <div class="uk-navbar-center-left"><div>
              <ul class="uk-navbar-nav">
                  <li>
                      <a href="ramas.html">Ramas</a>
                      <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li><a href="/academica">Academica</a></li>
                              <li><a href="artes.html">Artes</a></li>
                              <li><a href="comercial.html">Comercial</a></li>
                              <li><a href="/deportes">Deportes</a></li>
                              <li><a href="industrial.html">Industrial</a></li>
                              <li><a href="promocion.html">Promocion Social</a></li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div></div>
        <a class="uk-navbar-item uk-logo" href="/">GIEM</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
              <li>
                <a href="#">Modalidades</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li><a href="ciencias_matematicas.html">Ciencias matematicas</a></li>
                      <li><a href="humanidades.html">Humanidades</a></li>
                      <li><a href="sistemas.html">Sistemas</a></li>
                      <li><a href="programacion.html">Programación</a></li>
                      <li><a href="quimica.html">Química Industrial</a></li>
                      <li><a href="musica.html">Musica</a></li>
                      <li><a href="plastica">Plástica</a></li>
                      <li><a href="gestion.html">Gestion Social</a></li>
                      <li><a href="gastronomia.html">Gastronomía</a></li>
                      <li><a href="administracion.html">Administración Comercial</a></li>
                      <li><a href="contabilidad.html">Contabilidad</a></li>
                      <li><a href="construcciones.html">Construciones</a></li>
                      <li><a href="electricidad.html">Electricidad</a></li>
                      <li><a href="electronica.html">Electrónica</a></li>
                      <li><a href="madera.html">Madera</a></li>
                      <li><a href="metalisteria.html">Metalistería</a></li>
                      <li><a href="moda.html">Moda</a></li>
                    </ul>
                </div>
            </li>
            </ul>
        </div></div>
    </div>
</nav>