<% include partials/_head %>
<% include partials/_menu %>


    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="academica text-center">
                    <a href="/quimica">
                        <h1>Química Industrial</h1>
                        <img src="img/QuimicaBtn.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="industrial text-center">
                    <a href="/humanidades">
                    <h1>Humanidades</h1>
                    <img src="img/HumanidadesBtn.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="comercial text-center">
                    <a href="/programacion">
                        <h1>Programación</h1>
                        <img src="img/ProgramacionBtn.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="Promocion text-center">
                    <a href="/sistemas">
                        <h1>Sistemas</h1>
                        <img src="img/SistemasBtn.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="Artes text-center">
                    <a href="/ciencias">
                        <h1>Ciencias y matemáticas</h1>
                        <img src="img/CienciasBtn.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="Artes text-center">
                    <a href="/procesos">
                        <h1>Procesos Matemáticos</h1>
                        <img src="img/ProcesosBtn.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts de las animaciones-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        console.log ("Scrips cargados correctamente");
        AOS.init();
    </script>

<% include partials/_footer %>
