<% include partials/_head %>
<% include partials/_menu %>

<h1 style="text-align: center;">Administración</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/CA1.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/ad2.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/ad1.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
   
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">


<br>
 
<h3 style="text-align: center">¿Qué es la modalidad de Administración?</h3>
<p style=padding:5%;>Esta modalidad se encarga de moldear a los estudiantes para dirigir o liderar equipos 
    de talento humano, también deben ver algunas materias de contabilidad, pero se enfoca específicamente
     en que los estudiantes pueden liderar un equipo de trabajo.</p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Administración1.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Administración2.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Administración3.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Administración4.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Administración5.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
    <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Administración6.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
    <li class="uk-width-3-4">
      <div class="uk-panel">
          <img src="imag/Administración7.png" alt="">
          <div class="uk-position-center uk-panel"></div>
      </div>
  </li>

  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>

<% include partials/_footer %>