<% include partials/_head %>
<% include partials/_menu %>

<h1 style="text-align: center;">Ciencias y Matemáticas</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/c1.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/c5.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/c6.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
    <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/c3.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
   
   
      
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">



 
<h3 style="text-align: center">¿Qué es la modalidad de Ciencias y Matemáticas?</h3>
<p style=padding:5%;>Esta modalidad ofrece a los estudiantes una mayor capacidad a la hora de presentar las pruebas ICFES, 
  además cuando se presentan a la universidad se tiene una mayor claridad de temas de ciencias.
 Por otra parte se ve otro tipo de materias que no solo se enfocan en la ciencia, como ciencias políticas. </p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Ciencias1.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Ciencias3.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Ciencias5.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Ciencias2.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>


<% include partials/_footer %>
