<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-section uk-section-default">
  <div class="uk-container">

      <div class="uk-text-lead uk-text-center">
        <h1>Construcciones</h1>
      </div>

      <hr class="uk-divider-icon">

      <div class="uk-text-justify">
        <p>
            En esta modalidad los estudiantes tendrán la oportunidad de aprender temas como:
            Dibujo técnico, dibujo arquitectónico, representación en 3D, dibujo asistido por un ordenador, 
            modelación digital, interpretación de planos, mediciones en construcción, sistemas constituidos,
            instrumentos para la elaboración de un plano, manejo de regla y medidas para la elaboración de planos, 
            como se inicia la elaboración de una casa, materiales a usar en la elaboración de una casa, elaboración de
            maquetas, entre otros.
            
        </p>
      </div>

      <hr class="uk-divider-icon">

      <div class="uk-text-lead uk-text-center">
        <h1>Texto de ejemplo de h1</h1>
        <h2>Texto de ejemplo de h2</h2>
        <h3>Texto de ejemplo de h3</h3>
        <h4>Texto de ejemplo de h4</h4>
        <h5>Texto de ejemplo de h5</h5>
        <h6>Texto de ejemplo de h6</h6>

      </div>
      <hr class="uk-divider-icon">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-overlay uk-position-bottom uk-light">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

          </div>
        </div>
    
          <hr class="uk-divider-icon">
          <br><br>
    
          <h1 class="uk-heading-line uk-text-center"><span>¿Qué materias y cuántas horas se ven en la modalidad?</span></h1>
    
          <br><br>
    
          <hr class="uk-divider-icon">
          <br><br>
    
          <div class="uk-column-1-2 uk-column-divider">
              <h5>Teoría de construcción:(2 horas por semana) </h5>
            <p> Esta asignatura está orientada hacia el aprendizaje teórico.</p>
    
              <h5>Taller de construcción:(6 horas por semana)</h5>
              <p> Esta asignatura constituye el lado práctico o destreza manual de esta modalidad .</p>
            </div>
            <hr class="uk-divider-icon">
          <br><br>
          
    
          <blockquote cite="#">
            <p class="uk-margin-small-bottom">The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
            <footer>Someone famous in <cite><a href="#">Source Title</a></cite></footer>
          </blockquote>
          <hr class="uk-divider-icon">
          
    
          <h1 class="uk-heading-line uk-text-center"><span>Salidas ocupacionales</span></h1>
          <hr class="uk-divider-icon">
          <br><br>
            
          
    
          <ul class="uk-list uk-column-1-2 uk-list-striped">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
        </ul>
         
    
      </div>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    
      <script>
        AOS.init();
      </script>
    
      <!-- Scrips de Bootstrap-->
  <% include partials/_footer %>