<% include partials/_head %>
<% include partials/_menu %>

<h1 style="text-align: center;">Construcción</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/constBtn.jpeg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/const2Btn.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/const3Btn.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
      
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">


<br>
 
<h3 style="text-align: center">¿Qué es la modalidad de Construcción?</h3>
<p style=padding:5%;>Construcciones es una modalidad media técnica en dónde los estudiantes pueden Aprender 
   de la industria constructiva, a interactuar más con los materiales de construcción, a manejar escalas en los planos,
   a diseñar tanto físicamente como digital y conocer las premisas que tiene la construcción en lo ambiental, 
   social y económico.
   Dibujo técnico, dibujo arquitectónico, representación en 3D, dibujo asistido por un ordenador,
   modelación digital, interpretación de planos, mediciones en construcción, sistemas constituidos, 
   instrumentos para la elaboración de un plano, manejo de regla y medidas para la elaboración de planos,
   como se inicia la elaboración de una casa, materiales a usar en la elaboración de una casa, elaboración de maquetas,
   entre otros.
  </p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Industrial1.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Industrial2.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>


<% include partials/_footer %>
