<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-section uk-section-default">
  <div class="uk-container">

      <div class="uk-text-lead uk-text-center">
        <h1>Contabilidad</h1>
      </div>

      
      <hr class="uk-divider-icon">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-overlay uk-position-bottom uk-light">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
    </div>

      <hr class="uk-divider-icon">
      <br><br>

      <h1 class="uk-heading-line"><span>Titulo decorado a la izquierda</span></h1>

      <h1 class="uk-heading-line uk-text-center"><span>Titulo decorado centrado</span></h1>

      <h1 class="uk-heading-line uk-text-right"><span>Titulo decorado a la derecha</span></h1>
      <br><br>

      <hr class="uk-divider-icon">
      <br><br>

      <div class="uk-column-1-2 uk-column-divider">
      <h3>Décimo</h3>

        <h5>Gestión empresarial: (2 horas por semana)</h5>
        <p>Tratan temas administrativos, en forma de entrevista y personal; toda la arquitectura de una empresa, entre otras cosas.</p>
        <br>

        <h5>Principios económicos: (2 horas por semana)</h5>
        <p>Tratan temas administrativos, en forma de entrevista y personal; toda la arquitectura de una empresa, entre otras cosas. </p>
         <br>

         <h5>Contabilidad: (3 horas por semana)</h5>
         <p>Trata sobre la codificación, salarios, bonificaciones,todo el ciclo contable(todas las cuentas de una empresa). </p>
         <br>

         <h5>Legislación laboral: (1 hora por semana)</h5>
         <p>Trata sobre la codificación, salarios, bonificaciones,todo el ciclo contable(todas las cuentas de una empresa). </p>
          <br>

       <h3>Undécimo</h3>

            <h5>Gestión empresarial: (2 horas por semana)</h5>
            <br>

            <h5>Principios económicos: (2 horas por semana)</h5>
            <br>

             <h5>Contabilidad: (3 horas por semana)</h5>
             <br>

             <h5>Legislación laboral: (1 hora por semana)</h5>
             <br>

      </div>
      <hr class="uk-divider-icon">
      
        <blockquote cite="#" class="uk-column-span">
            <p>All we have to decide is what to do with the time that is given us.</p>
            <footer>Gandalf in in <cite><a href="">The Fellowship of the Ring</a></cite></footer>
        </blockquote>


     


    </div>

  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

  <!-- Scrips de Bootstrap-->
 
  <% include partials/_footer %>