<% include partials/_head %>
<% include partials/_menu %>

<h1 style="text-align: center;">Contabilidad</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/cont1.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/cont2.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/CA1.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
   
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">



 
<h3 style="text-align: center">¿Qué es la modalidad de Contabilidad?</h3>
<p style=padding:5%;>Esta modalidad se enfoca en el manejo del dinero de las empresas o de las personas
   naturales desde la legalidad, en otras palabras son registros legales del manejo del dinero.
    Por lo tanto, centra a los estudiantes a saber cómo ejercer los deberes de una
     empresa y/o personas natural o jurídica.</p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Contabilidad1.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Contabilidad2.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Contabilidad3.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Contabilidad4.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Contabilidad5.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>

  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>

<% include partials/_footer %>