<% include partials/_head %>
<% include partials/_menu %>

<div class="container">
    <div class="row">

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="my5">
                <div class="mb-5 mt-5">
                        <h1>
                                Dinos quien eres
                            </h1>
                            <a href="/login" class="btn btn-success btn-block mb-5 mt-5">Psicoorientador</a>
                            <a href="https://estudiante.herokuapp.com" class="btn btn-success btn-block mt-5">Estudiante</a>
                        </div>
            </div>
           
        </div>
    </div>
</div>



<% include partials/_footer %>