<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-section uk-section-default">
        <div class="uk-container">
      
            <div class="uk-text-lead uk-text-center">
              <h1>Deportes</h1>
            </div>
      
            <hr class="uk-divider-icon">
      
            <div class="uk-text-justify">
              <p>
              tenemos convenio con la universidad luis amigo. en esta modalidad aprenderás cosas básicas sobre pedagogia en educación fisica funcionamiento y cuidado del cuerpo.
              ¡ojo! deportes no es solo hacer educación fisica, sino aprender sobre desarrollo de la motricidad.
      
              </p>
            </div>
      
            <hr class="uk-divider-icon">
      
            <div class="uk-text-lead uk-text-center">
              <h1>Texto de ejemplo de h1</h1>
              <h2>Texto de ejemplo de h2</h2>
              <h3>Texto de ejemplo de h3</h3>
              <h4>Texto de ejemplo de h4</h4>
              <h5>Texto de ejemplo de h5</h5>
              <h6>Texto de ejemplo de h6</h6>
      
            </div>
            <hr class="uk-divider-icon">
            <div class="uk-child-width-1-2@m" uk-grid>
              <div>
      
                  <div class="uk-inline">
                      <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                      <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                          <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                  </div>
      
              </div>
              <div>
      
                  <div class="uk-inline">
                      <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                      <div class="uk-overlay-primary uk-position-cover"></div>
                      <div class="uk-overlay uk-position-bottom uk-light">
                          <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                  </div>
      
              </div>
          </div>
      
          <hr class="uk-divider-icon">
          <br><br>
      
          <h1 class="uk-heading-line uk-text-center"><span>¿Qué materias y cuántas horas se ven en la modalidad?</span></h1>
      
          <br><br>
      
          <hr class="uk-divider-icon">
          <br><br>
      
          <div class="uk-column-1-2 uk-column-divider">
              <h3>Décimo</h3>
      
                <h5>Biología e historia : (3 horas por semana)</h5>
                <p>Esta asignatura trata sobre el funcionamiento del cuerpo.</p>
                <br>
      
                <h5>Epistemología de la ed. física y el deporte: (3 horas por semana)</h5>
                <p>En esta asignatura se ve todo lo relacionado con el deporte,
                  su historia y sus conceptos en la sociedad a través del tiempo, su objeto de estudio es la motricidad
                y su objetivo es mejorar la Inteligencia corporal cinestésica. </p>
                 <br><br><br><br><br><br>
      
               <h3>Undécimo</h3>
      
                    <h5>Morfofisiología: (3 horas por semana)</h5>
                      <p>
                        Aquí aprendes sobre el cuerpo y el funcionamiento en la actividad fisica. un ejemplo seria aprender las partes del cuerpo
                        los musculos para después analisar que musculos/huesos inervienen en el movimiento dentro de las diferentes actividades fisicas.
                        adquieres conocimientos tales como el porque nos cansamos, como debemos comer para tener un mejor rendimiento, como trabajar fuerza, resistencia y velocidad.
                      </p>
                    
                    <br>
      
                    <h5>Didáctica: (3 horas por semana)</h5>
                      <p>
                        Adquieres conocimientos tales como las formas  enseñar educación física a los grados quintos, planeación de ejercicios unidades didácticas entre otras cosas más.
                        Aquí debes hacer una practica profecional dandole clase a los niños de el grado anteriormente mencionado.
                      </p>
                    
                    </div>
                    <hr class="uk-divider-icon">
          
      
                    <blockquote cite="#" class="uk-column-span">
                        <p>All we have to decide is what to do with the time that is given us.</p>
                        <footer>Gandalf in in <cite><a href="">The Fellowship of the Ring</a></cite></footer>
                    </blockquote>            
</div>

<% include partials/_footer %>