<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-section uk-section-default">
  <div class="uk-container">

      <div class="uk-text-lead uk-text-center">
        <h1>Gestión social</h1>
      </div>

      <hr class="uk-divider-icon">

      <div class="uk-text-justify">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ratione in, asperiores nulla nisi vitae atque suscipit aspernatur voluptatem assumenda sed architecto incidunt at eligendi quasi quidem quaerat velit. Aut, quis laboriosam ratione officiis repudiandae totam nihil similique et repellat nisi odio accusantium dolorem iusto? Ipsam sapiente neque libero, odit, veniam illum, quo adipisci numquam tempore sit iste eius deleniti voluptatum explicabo qui! Nulla commodi ut maxime, obcaecati ab earum beatae reprehenderit vel unde magnam. Deserunt, voluptatum quo? Odio eos quibusdam sequi repellat. Ab doloribus molestiae a, omnis veritatis temporibus reiciendis, et nulla aliquid porro quas molestias possimus incidunt atque!
        </p>
      </div>

      <hr class="uk-divider-icon">

      <div class="uk-text-lead uk-text-center">
        <h1>Texto de ejemplo de h1</h1>
        <h2>Texto de ejemplo de h2</h2>
        <h3>Texto de ejemplo de h3</h3>
        <h4>Texto de ejemplo de h4</h4>
        <h5>Texto de ejemplo de h5</h5>
        <h6>Texto de ejemplo de h6</h6>

      </div>
      <hr class="uk-divider-icon">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-overlay uk-position-bottom uk-light">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
    </div>

      <hr class="uk-divider-icon">
      <br><br>

      <h1 class="uk-heading-line uk-text-center"><span>¿Qué materias y cuántas horas se ven en la modalidad?</span></h1>

      <br><br>

      <hr class="uk-divider-icon">
      <br><br>

      <div class="uk-column-1-2 uk-column-divider">
          <h3>Décimo</h3>

          <h5>Recreación: (1 hora por semana)</h5>
          <p>En esta asignatura podrás aprender para qué sirve y cómo se realiza la recreación infantil y en adultos de la tercera edad.</p>
          <br>
          <h5>Comunidad: (1 hora por semana)</h5>
          <p> Aprenderás cómo relacionarte con la comunidad  con la que trabajas, ya sea infantil, juvenil o adulto mayor.</p>
          <br> 
          <h5>Salud y nutrición: (2 horas por semana)</h5>
          <p>Tendrás la oportunidad de aprender primeros auxilios, inyectología, toma de presión, plantas medicinales, entre otros.</p>
          <br>
          <h5>Investigación social: (2 horas por semana)</h5>
          <p>En esta asignatura aprenderás a  realizar una buena investigación social en cualquiera de las poblaciones que elijas.</p>
          <br><br><br>
          <h5>Proyecto y práctica: (1 hora por semana)</h5>
          <p>Aprenderás a realizar la búsqueda y la orientación para identificar una necesidad y hacerla posible en tu proyecto, a través de una serie de estrategias y objetivos, además aprenderás cómo llevar a cabo un proyecto en una comunidad de diferentes clases sociales</p>
           <br>   
          <h5>Introducción a la familia como sistema social: (2 horas por semana)</h5>
          <p>Aprenderás sobre temas como ¿Quién soy yo?, los valores, la familia, somos seres biosocioculturales, entre otros.</p>
          <br>       

           <h3>Undécimo</h3>

           <h5>Salud y nutrición: (1 hora por semana)</h5>
           <br>
           <h5>Proyectos y prácticas: (6 horas por semana)</h5>
            <br> 
            <h5>Introducción a la familia como sistema social: (1 hora por semana).</h5>
            <br> 
        </div>

      <hr class="uk-divider-icon">
      <br><br>

      <blockquote cite="#">
        <p class="uk-margin-small-bottom">The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
        <footer>Someone famous in <cite><a href="#">Source Title</a></cite></footer>
      </blockquote>

     



    </div>

  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

  <!-- Scrips de Bootstrap-->
  <% include partials/_footer %>