<% include partials/_head %>
<% include partials/_menu %>
  
  <h1 style="text-align: center;">Humanidades</h1>
  <hr style="margin:0 auto;" class="uk-divider-icon">
  
  
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
  
    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="imag/h5.jpg" alt="">
                <div class="uk-position-center uk-panel"></div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="imag/h7.jpg" alt="">
                <div class="uk-position-center uk-panel"></div>
            </div>
        </li>
        <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/h4.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/h1.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/h6.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     
     
        
    </ul>
  
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  
  </div>
  
  <hr style="margin:0 auto;" class="uk-divider-icon">
  
  
  
   
  <h3 style="text-align: center">¿Qué es la modalidad de Humanidades?</h3>
  <p style=padding:5%;>Humanidades es una modalidad  media académica que instruye al alumno en cuanto al  estudio del ser humano y sus relaciones sociales,
    se le dan bases para realizar  investigación,  se trabaja todo lo que es con respecto a la fotografía, la historia ,la influencia de los 
    medios de comunicación, la escritura de textos periodísticos,se le ayuda a comprender el  todo lo que corresponde a la conducta humana y 
    los procesos mentales.
     </p>
  
  <H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
      
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
  
    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="imag/humanidades1.png" alt="">
                <div class="uk-position-center uk-panel"></div>
            </div>
        </li>
        <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="imag/humanidades2.png" alt="">
                <div class="uk-position-center uk-panel"></div>
            </div>
        </li>
        <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/humanidades5.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
       <li class="uk-width-3-4">
            <div class="uk-panel">
                <img src="imag/humanidades3.png" alt="">
                <div class="uk-position-center uk-panel"></div>
            </div>
        </li>
        <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/humanidades7.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/humanidades9.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/humanidades8.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/humanidades4.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
        
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
  
    
  </div>

  
  <% include partials/_footer %> 

