<% include partials/_head %>
<% include partials/_menu %>

    <div class="container mt-5"   >
      <div class="row">
        <div class="col-12 titulo">
          <h1>¡Bienvenidos a GIEM!</h1>
        </div>
        <div class="col">
          <div class="ilustracion">
            <img src="img/nino.png"class="animated fadeInRight"></img>
          </div>
        </div>
      </div>
      <br><br>
      <div class="que-es mt-5 p-4">
        <div class="significado">
            <h1>¿Qué es GIEM?</h1>

          <p><strong> GIEM significa Guía Interactiva para la  Elección de Modalidad</strong></p>
        </div>
        <p> GIEM es un progama diseñado para que los alumno de grado noveno, los cuales estan próximos a elegir modalidad-especialidad en la cual van a permanecer décimo y onceavo grado, tengan un mayor enfasís o claridad de:</P>
        
      </div>
    </div>

    





<!--


    <div class="acerca">
      <div data-aos="fade-left" class="titulo-acerca text-center">
        <h1>¿Qué es GIEM?</h1>
      </div>

      <div data-aos="fade-right" class="quienes-somos text-justify float-left">

        <p ><strong> GIEM significa Guía Interactiva para la  Elección de Modalidad</strong></p>
        <p>
          GIEM es un progama diseñado para que los alumno de grado noveno, los cuales estan próximos a elegir modalidad-especialidad en la cual
          van a permanecer décimo y onceavo grado, tengan un mayor enfasís o claridad de :</P>
               <p > * Que se ve en dicha modalidad-especialidad</p>
               <p > * Cuántas horas de dicha modalidad-especialidad </p>
               <p > * Que se hace en esa asignatura propia de la modalidad-especialidad</p>
        <P>Además nuestra plataforma les proporciona
          un test vocacional por si no tiene claridad de qué elegir
        </p>
        <p>
        </p>


        <!--
        <div class="contenedor">
          <div class="float-right linea1" data-aos="fade-up-right">
            <img  src="img/linea1.png" alt="">
          </div>
          <div class="float-left linea2" data-aos="fade-up-left">
            <img src="img/linea2.png" alt="">
          </div>
        </div>




      </div>

      <div  class="linea-roja">
        <hr>
      </div>

      <div data-aos="fade-right" data-aos-duration="1000" class="titulo-acerca text-center">
          <h1>¿Qué hacemos?</h1>
      </div>
      <br>

      <div class="linea-verde">
        <hr>
      </div>
             The content of your page would go here. -->
 
<% include partials/_footer %>