<% include partials/_head %>
<% include partials/_menu %>

    <div class="container" uk-parallax="target: #test-filter; blur: 0,10;">
      <div class="row">
        <div class="col">
          <img class="animated fadeInDown " src="img/logo.png" alt="">
        </div>
        <div class="col">
          <div class="titulo">
            <p class="animated fadeInRight">GIEM</p>
          </div>
        </div>
      </div>
    </div>

    <div class="acerca">

      <hr class="uk-divider-icon">

      <!-- Primer contenedor-->
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
            <img src="https://d1j8pt39hxlh3d.cloudfront.net/uploads/thinking%20emoji_3.png" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
            <h1 class="uk-card-title">¿Que es GIEM?</h1>
            <p><strong> GIEM significa Guía Interactiva para la  Elección de Modalidad</strong></p>
            <p> GIEM es un progama diseñado para que los alumno de grado noveno, los cuales estan próximos a elegir modalidad-especialidad en la cual van a permanecer décimo y onceavo grado, tengan un mayor enfasís o claridad de :</P>
            <ul class="uk-list uk-list-bullet">
              <li>Que se ve en dicha modalidad-especialidad</li>
              <li>Cuántas horas de dicha modalidad-especialidad</li>
              <li>Que se hace en esa asignatura propia de la modalidad-especialidad</li>
            </ul>
            <P>Además nuestra plataforma les proporciona un test vocacional por si no tiene claridad de qué elegir </p>
          </div>
        </div>
      </div>

      <hr class="uk-divider-icon">

      <!-- Segundo contenedor-->
      <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
          <img src="https://d1j8pt39hxlh3d.cloudfront.net/uploads/thinking%20emoji_3.png" alt="" uk-cover>
          <canvas width="600" height="400"></canvas>
        </div>
        <div>
          <div class="uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
            <h3 class="uk-card-title">¿Qué hacemos?</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, fugiat ipsam sequi nisi dolorum corporis asperiores maiores voluptatibus quam! Accusamus quod inventore maxime laboriosam eligendi dolor laborum, sint illum iure dolorum excepturi? Neque molestias obcaecati voluptas accusantium dolores! Voluptate quas voluptatem, temporibus, commodi, quibusdam obcaecati exercitationem nostrum sunt laudantium quasi hic ut voluptas voluptatum molestiae quis veritatis perspiciatis culpa inventore consequatur error harum ad. Consequatur, facere. Deleniti incidunt, aspernatur blanditiis eligendi iusto quasi soluta asperiores.</p>
          </div>
        </div>
      </div>
      <hr class="uk-divider-icon">
      <div class="uk-child-width-1-2@m" uk-grid>
          <div>
              <div class="uk-card uk-card-default">
                  <div class="uk-card-media-top uk-inline-clip uk-transition-toggle" tabindex="0" >
                      <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="img/RAMAS.png" alt=""></a>
                  </div>
                  <div class="uk-card-body">
                      <h1 class="uk-card-title">Nuestras Ramas</h1>
                    <p>El inem está dividido en 5 ramas en las cuales los alumnos de octavo y noveno son orientados para que en décimo y undécimo estén en lo que les gusta, tienen habilidades o tiene relación con lo que quieren estudiar cuando estén en la universidad. </p>
                  </div>
              </div>
          </div>
          <hr class="uk-divider-icon linea3">
          <div>
              <div class="uk-card uk-card-default">
                  <div class="uk-card-body">
                      <h1 class="uk-card-title">Nuestras Modalidades</h1>
                      <p>En el inem contamos con 21 modalidades, en las cuales cada uno de nuestros alumnos de décimo y undécimo puedan desarrollar sus habilidades o ser orientados en lo que quieren estudiar en la universidad.</p>
                  </div>
                  <div class="uk-card-media-bottom uk-inline-clip uk-transition-toggle" tabindex="0">
                      <a href=""><img class="uk-transition-scale-up uk-transition-opaque" src="img/MODALIDADES.png" alt=""></a>
                  </div>
              </div>
          </div>
      </div>
      <a href="#" uk-totop uk-scroll></a>
  <div>






<!--


    <div class="acerca">
      <div data-aos="fade-left" class="titulo-acerca text-center">
        <h1>¿Qué es GIEM?</h1>
      </div>

      <div data-aos="fade-right" class="quienes-somos text-justify float-left">

        <p ><strong> GIEM significa Guía Interactiva para la  Elección de Modalidad</strong></p>
        <p>
          GIEM es un progama diseñado para que los alumno de grado noveno, los cuales estan próximos a elegir modalidad-especialidad en la cual
          van a permanecer décimo y onceavo grado, tengan un mayor enfasís o claridad de :</P>
               <p > * Que se ve en dicha modalidad-especialidad</p>
               <p > * Cuántas horas de dicha modalidad-especialidad </p>
               <p > * Que se hace en esa asignatura propia de la modalidad-especialidad</p>
        <P>Además nuestra plataforma les proporciona
          un test vocacional por si no tiene claridad de qué elegir
        </p>
        <p>
        </p>


        <!--
        <div class="contenedor">
          <div class="float-right linea1" data-aos="fade-up-right">
            <img  src="img/linea1.png" alt="">
          </div>
          <div class="float-left linea2" data-aos="fade-up-left">
            <img src="img/linea2.png" alt="">
          </div>
        </div>




      </div>

      <div  class="linea-roja">
        <hr>
      </div>

      <div data-aos="fade-right" data-aos-duration="1000" class="titulo-acerca text-center">
          <h1>¿Qué hacemos?</h1>
      </div>
      <br>

      <div class="linea-verde">
        <hr>
      </div>
             The content of your page would go here. -->
 
<% include partials/_footer %>