<% include partials/_head %>
<% include partials/_menu %>

    <div class="container mt-5"   >
      <div class="row">
        <div class="col-12 titulo">
          <h1>¡Bienvenidos a GIEM!</h1>
        </div>
        <div class="col">
          <div class="ilustracion">
            <img src="img/nino.png"class="animated fadeInRight"></img>
          </div>
          <a href="/decirQuienEs" class="btn btn-success btn-block mt-5">Ingresar</a>
        </div>
      </div>
      <br><br>
      
    </div>

    

 
<% include partials/_footer %>