<% include partials/_head %>
<% include partials/_menu %>

<% if (message) { %>
    <script>
        const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                type: 'error',
                title: 'Datos incorrectos!'
            })    
    </script>
<% } %>
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s " uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://picsum.photos/600/400" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h1 class="uk-card-title">Bienvenido de nuevo, Psicoorientador</h1>

                <form action="/login" method="post">
                   
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo</label>
                      <span class="uk-form-icon" uk-icon="icon: user"></span>
                      <input type="email" name="email" id="email" class="form-control" >
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" name="password"  class="form-control" id="password" required>
                    </div>
                    <div class="form-group">
                        <a href="#">Olvidé mi Contraseña</a>
                    </div>
                    <button type="submit" class="btn btn-success">Enviar</button>
                    
                  </form>
                  
            </div>

           
        </div>
    </div>

    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s " uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="https://picsum.photos/600/400" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
                <h1 class="uk-card-title">Soy estudiante!</h1>

                <form action="/loginEStu" method="post">
                   
                    <div class="form-group">
                      <label for="exampleInputEmail1">Correo</label>
                      <span class="uk-form-icon" uk-icon="icon: user"></span>
                      <input type="email" name="emailEstu" id="emailEstu" class="form-control" >
                      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Contraseña</label>
                      <input type="password" name="passwordEstu"  class="form-control" id="passwordEstu" required>
                    </div>
                    <div class="form-group">
                        <a href="#">Olvidé mi Contraseña</a>
                    </div>
                    <button type="submit" class="btn btn-success">Enviar</button>
                    
                  </form>
                  
            </div>

           
        </div>
    </div>

    