<% include partials/_head %>
<% include partials/_menu %>
<ul class=" menu">
    
                    <li><a href="/academica">Academica</a></li>
                    <li><a href="/artes">Artes</a></li>
                    <li><a href="/comercial">Comercial</a></li>
                    <li><a href="/deportes">Deportes</a></li>
                    <li><a href="/industrial">Industrial</a></li>
                    <li><a href="/promocion">Promocion Social</a></li>
          
</ul>