<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-section uk-section-default">
  <div class="uk-container">

      <div class="uk-text-lead uk-text-center">
        <h1>Moda</h1>
      </div>

     
      <hr class="uk-divider-icon">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-overlay uk-position-bottom uk-light">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
    </div>

      <hr class="uk-divider-icon">
      <br><br>

     
      <h1 class="uk-heading-line uk-text-center"><span>Titulo decorado centrado</span></h1>

      <br><br>

      <hr class="uk-divider-icon">
      <br><br>


        <div class="uk-column-1-2 uk-column-divider">
           

            <h5>Fundamentos de la moda: (2 horas por semana)</h5>
            <p>En esta asignatura se ve todo lo relacionado con las texturas, diseñadores,colores, entre otras cosas.</p>
            <br><br><br><br><br><br> 

            <h5>Diseño de modas: (6 horas por semana)</h5>
            <p> En esta asignatura se crea el boceto y después se pasa a un patrón para cortar y crear el diseño.</p>
            <br>

             
            <br><br><br><br><br>
      
        <blockquote cite="#" class="uk-column-span">
            <p>All we have to decide is what to do with the time that is given us.</p>
            <footer>Gandalf in in <cite><a href="">The Fellowship of the Ring</a></cite></footer>
        </blockquote>

      
      
    



    </ul>

    </div>

  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

  <!-- Scrips de Bootstrap-->
  <% include partials/_footer %>