<% include partials/_head %>
<% include partials/_menu %>
    <div class="container">
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <div class="mensaje-bienvenida mb-4">
              <p>Bienvenido de nuevo, </p>
              <h3><%= user.local.nombre %></h3>
            </div>
            <hr>
            <p>
              <strong>email</strong> : <%= user.local.email %> <br>              
            </p>
            <a href="/logout" class="btn btn-light btn-sm">
              Cerrar session.
            </a>
          </div>
        </div>


    
        <div class="card">
          <div class="card-body">
            <di7v class="card-title">
              <h3>Esta es tu lista de estudiantes</h3>
              <p>
                <%= estudiantes[0] %>
              </p>
      
            </di7v>
            <ul class="uk-list uk-list-striped">
              <% for(var i=0; i<estudiantes.length; i++) {%>
                <li><%= estudiantes[i].estudiantes.nombre %></li>
              <% } %>
                <li><a href="#">Ver más</a></li>
            </ul>
            <hr>
            <a href="/estudiantes" class="btn btn-primary btn-block">Agregar a un nuevo Estudiante</a>
          </div>
        </div>


        <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h3>Estos son los últimos test realizados</h3>
              </div>
              <ul class="uk-list uk-list-striped">
                <li>Estudiante 1</li>
                <li>Estudiante 1</li>
                <li>Estudiante 1</li>
                <li>Estudiante 1</li>
                <li>Estudiante 1</li>
                <li><a href="#">Ver más</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>

   


   



<% include partials/_footer %>