<% include partials/_head %>
<% include partials/_menu %>
<script>
  function startTime() {
    var today = new Date();
    var day = today.getUTCDate();
    var mes = today;
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s ;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
  </script>
    <div class="container" >
      <div class="card-columns">
        <div class="card">
          <div class="card-body">
            <div class="mensaje-bienvenida mb-4">
              <p>Bienvenido de nuevo, </p>
              <h3><%= user.local.nombre %></h3>
            </div>
            <hr>
            <p>
              <strong>email</strong> : <%= user.local.email %> <br>              
            </p>
            <div id="txt" class="text-center m-5"></div>
            <a href="/logout" class="btn btn-light btn-block">
              Cerrar session.
            </a>
          </div>
        </div>


    
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h3>Esta es tu lista de estudiantes</h3>
            
      
            </div>
            <ul class="uk-list uk-list-striped">
              <% for(var i=0; i<estudiantes.length; i++) {%>
                <li>
                  <a href="/estudiante?id=<%= estudiantes[i]._id%>"><%= estudiantes[i].estudiantes.nombre %></a>
                </li>
              <% } %>
            </ul>
            <hr>
            <a href="/estudiantes" class="btn btn-primary btn-block">Agregar a un nuevo Estudiante</a>
          </div>
        </div>

    
      </div>
    </div>

   

   



<% include partials/_footer %>