<% include partials/_head %>
<% include partials/_menu %>

<h1 style="text-align: center;">Plástica</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/ap2.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/ap3.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/ap1.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
   
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">



 
<h3 style="text-align: center">¿Qué es la modalidad de Plástica?</h3>
<p style=padding:5%;>Esta modalidad es una media técnica diversificada, con diferentes lenguajes de la arte plástica, 
    además se puede iniciar en octavo grado en la rama, pero la media técnica es a partir de décimo y once.</p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/AP8.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/AP7.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/AP4.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/AP5.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/AP6.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>

  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>

<% include partials/_footer %>