<% include partials/_head %>
<% include partials/_menu %>

<div class="container">
  <h1 class="text-center">Programación</h1>

  <img src="https://picsum.photos/seed/picsum/1280/720" alt="" class="img-fluid">

  <section class="mt-5 text-justify">
    <h5>¿Qué es Programación?</h5>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti eveniet, ex, minus nemo quidem veritatis earum, dolorum alias adipisci atque delectus placeat veniam sunt dolore! Adipisci id beatae deleniti?</p>
  
    
    <h5>Lorem, ipsum dolor.</h5>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, soluta. Nulla tempore enim aut facilis aspernatur deserunt culpa fugiat fugit placeat laudantium, omnis non dolor doloremque, tenetur perferendis minima consequuntur.</p>
  </section>
</div>



<% include partials/_footer %>
