<% include partials/_head %>
<% include partials/_menu %>

<div class="container">
  <h1 class="text-center">Programación</h1>

  <img src="https://picsum.photos/seed/picsum/1280/720" alt="" class="img-fluid">

  <section class="mt-5 text-justify">
    <h5>¿Qué es Programación?</h5>

    <p>La especialidad de programación trata de codificar y realizar programas computacionales tanto de escritorio, web y dispositivos móviles.

      Trata de que sus alumnos en los dos años estudien los ciclos de vida del software.
      </p>
    
 
  </section>
</div>



<% include partials/_footer %>
