<% include partials/_head %>
<% include partials/_menu %>



<h1 style="text-align: center;">Programación</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/P1.jpeg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/P2.jpeg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/P4.jpeg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
      
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">


<br>
 
<h3 style="text-align: center">¿Qué es la modalidad de Programación?</h3>
<p style=padding:5%;>La especialidad de programación trata de codificar y realizar programas computacionales tanto de escritorio, web y dispositivos móviles.

  Trata de que sus alumnos en los dos años estudien los ciclos de vida del software.</p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/programacion3.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/programacion2.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/programacion.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>


<% include partials/_footer %>
