<% include partials/_head %>
<% include partials/_menu %>

<div class="container p-5">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="academica text-center">
                <a href="/gestion">
                    <h1>Gestión Social</h1>
                    <img src="img/GesBtn.png" alt="">
                </a>
            </div>
        </div>
<!-- Scripts de las animaciones-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    console.log ("Scrips cargados correctamente");
    AOS.init();
</script>

  <!-- Scrips de Bootstrap-->
  <% include partials/_footer %>