<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-section uk-section-default">
  <div class="uk-container">

      <div class="uk-text-lead uk-text-center">
        <h1>Química Industrial</h1>
      </div>

      
      <hr class="uk-divider-icon">
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay uk-overlay-primary uk-position-bottom">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
        <div>

            <div class="uk-inline">
                <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                <div class="uk-overlay-primary uk-position-cover"></div>
                <div class="uk-overlay uk-position-bottom uk-light">
                    <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
    </div>

      <hr class="uk-divider-icon">
      <br><br>

      <h1 class="uk-heading-line uk-text-center"><span>¿Qué materias y cuántas horas se ven en la modalidad?</span></h1>

      <br><br>

      <hr class="uk-divider-icon">
      <br><br>

      <div class="uk-column-1-2 uk-column-divider">
       <h3>Décimo</h3>

          <h5>Química general: (4 horas por semana)</h5>
          <p>En esta asignatura podrás anticipar temas de esta asignatura con respecto a otras modalidades,
            se realizará análisis a fondo y además aprenderás aproximadamente 7 temas relacionados con la química. </p>
          <br>

          <h5>Laboratorio de química: (4 horas por semana)</h5>
          <p>Podrás llevar las teorías aprendidas de la química general al laboratorio, comprobarás teorías,
             realizarás experimentos, entre otros; sin embargo no todos los laboratorios serán realizados en clase,
             algunos serán realizados de manera virtual.</p>
           <br>

           <h5>Intensificación matemática: (1 hora por semana)</h5>
           <p>En esta asignatura aprenderás sobre estadística.</p>
           <br>

           <h3>Undécimo</h3>
           <h5>Química general II: (3 horas por semana)</h5>
           <br>

           <h5>Química orgánica: (3 horas por semana)</h5>
            <br>

          <h5>Laboratorio de física: (3 horas por semana)</h5>
          <br>

          <h5> Técnicas de laboratorio: (3 horas por semana) </h5>
          <br>

          <h5>Intensificación matemática: (1 hora por semana)</h5>
          <br><br><br><br><br><br>

      </div>
      <hr class="uk-divider-icon">
     
        <blockquote cite="#" class="uk-column-span">
            <p>All we have to decide is what to do with the time that is given us.</p>
            <footer>Gandalf in in <cite><a href="">The Fellowship of the Ring</a></cite></footer>
        </blockquote>

      


  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>

  <!-- Scrips de Bootstrap-->
  <% include partials/_footer %>
