<% include partials/_head %>
<% include partials/_menu %>


    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="academica text-center">
                        <h1>Academica</h1>
                        <a href="/academica"><img src="img/AcademicaBtn.png" alt=""></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="industrial text-center">
                    <h1>Industrial</h1>
                    <a href="/industrial"><img src="img/IndustrialBtn.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="comercial text-center">
                    <h1>Comercial</h1>
                    <a href="/comercial"><img src="img/ComersialBtn.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="Promocion text-center">
                    <h1>Promoción</h1>
                    <a href="/promocion"><img src="img/PromosionBtn.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="Artes text-center">
                    <h1>Artes</h1>
                    <a href="/artes"><img src="img/ArtesBtn.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts de las animaciones-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
        console.log ("Scrips cargados correctamente");
        AOS.init();
    </script>

<% include partials/_footer %>
