<% include partials/_head %>
<% include partials/_menu %>

<h1 style="text-align: center;">Sistemas</h1>
<hr style="margin:0 auto;" class="uk-divider-icon">


<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/s1.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/s2.jpg" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/s3.jpg" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
      
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>

<hr style="margin:0 auto;" class="uk-divider-icon">


<br>
 
<h3 style="text-align: center">¿Qué es la modalidad de sistemas?</h3>
<p style=padding:5%;>Esta modalidad también aborda algunos aspectos de desarrollo de software pero en un nivel básico,
   prácticamente para antivirus, el mantenimiento de sistemas de Windows, etc. Esta modalidad se enfoca 
   en el mantenimiento de equipos computacionales, y en la administración, evaluación y constitución de redes informáticas.</p>

<H3 style="text-align: center;padding:5%;">Asignaturas e intensidad horaria</H3>
    
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Sistemas1.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Sistemas2.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Sistemas3.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      <li class="uk-width-3-4">
        <div class="uk-panel">
            <img src="imag/Sistemas5.png" alt="">
            <div class="uk-position-center uk-panel"></div>
        </div>
    </li>
     <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="imag/Sistemas4.png" alt="">
              <div class="uk-position-center uk-panel"></div>
          </div>
      </li>
      
  </ul>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

  
</div>

<% include partials/_footer %>
