<% include partials/_head %>
<% include partials/_menu %>

<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">

  <ul class="uk-slider-items uk-grid">
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="img_mod/Academica/programacion/Programación1.png" alt="">
              <div class="uk-position-center uk-panel"><h1>1</h1></div>
          </div>
      </li>
     
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="https://picsum.photos/seed/picsum/1280/720" alt="">
              <div class="uk-position-center uk-panel"><h1>3</h1></div>
          </div>
      </li>
      <li class="uk-width-3-4">
          <div class="uk-panel">
              <img src="img_mod/Academica/programacion/Programación1.png" alt="">
              <div class="uk-position-center uk-panel"><h1>4</h1></div>
          </div>
      </li>
     
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

<div class="container">
  <h1 class="text-center">Programación</h1>

  <img src="https://picsum.photos/seed/picsum/1280/720" alt="" class="img-fluid">

  <section class="mt-5 text-justify">
    <h5>¿Qué es Programación?</h5>

    <p>La especialidad de programación trata de codificar y realizar programas computacionales
       tanto de escritorio, web y dispositivos móviles.</p>

     <p>Trata de que sus alumnos en los dos años estudien los ciclos de vida del software.
      </p>
    
 
  </section>
</div>



<% include partials/_footer %>
